<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.ajou.media.project_team_m" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ListActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".InputActivity"
            android:launchMode="singleTask" />
        <activity android:name=".SettingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ArticleDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ArticleCommentActivity"
            android:launchMode="singleTask" />

    </application>

</manifest>

    <!--
        ***** 구현 해야 할 것
        Server: REST API (특히 키워드), Image upload, Authentication
        백엔드 스케쥴러: 모아보기를 위한 게시글 분석 및 클러스터링
        앱: 사진 업로드 및 게시글, 댓글 CRUD, 좋아요, 모아보기, 키워드 검색, 마이페이지 등

        HashKey: EObovF2aXdOKVsHmHyJ1V5b/iwI=
    -->